<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dark.css') }}">
</head>
<body>
    <h1>로그인</h1>
    <form method="POST">
        <label for="name">이름:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="student_id">학번:</label><br>
        <input type="text" id="student_id" name="student_id"><br>

        <button type="submit">로그인</button>
    </form>

    {% if error %}
        <p class="wrong">{{ error }}</p>
    {% endif %}

    <p><a href="/register">회원가입</a></p>
</body>
</html>
